.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 3px solid #dadde1;
  border-radius: 5px;
  background: rgb(213, 220, 240);
}

h1 {
  font-size: 24px;
  color: rgb(97, 95, 95);
  font-weight: 230;
  line-height: 28px;
  margin-bottom: 0;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: rgb(97, 95, 95);
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

li first-letter {
  text-transform: capitalize;
}

.weather-temperature img {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

.weather-temperature strong {
  font-size: 65px;
  font-weight: 400;
  color: rgb(97, 95, 95);
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  color: rgb(97, 95, 95);
}

a {
  text-decoration: none;
}

.weather-temperature .active {
  color: rgb(97, 95, 95);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: rgb(97, 95, 95);
}

.weather-forecast-temperature {
  font-size: 13px;
}
